@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
.nav{
    width: 100%;
    height: 100%;
    display:flex;
    position: fixed;
    top:0px;
}
.mainAboutUs{
    width: 100vw;
    background-image: url("/public/images/cilantro.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}
.headingAboutUs{
    text-decoration: underline;
    text-align: center;
    padding: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    color: white;
}
.paraAboutUs{
    color:white;
    font-size: 30px;
    padding: 50px;
    text-align: center;
}
.whyAboutUs{
    color: greenyellow;
    text-align: center;
    padding: 5px;
    font-weight: 300;
    font-size: 65px;
    font-family: "Montserrat";
}
.blackAboutUs{
background-color: rgba(0, 0, 0, 0.587);
}
.rowAboutUs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.imgAboutUs{
    height: 20rem;
    width: 20rem;
    padding-left: 25px;
   border-radius: 20%;
}