@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
.line{
    height: 2px;
    width: 80%;
    background-color: black;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
}
.MyCart{
    margin-left: 15%;
    font-size: 37px;
    font-weight: 400;
    font-family: "Montserrat";
}
.col{
    font-size: 24px;
    font-weight: 400;
    font-family: "Montserrat";
}
.rowhead{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}