@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
.mainNavbar{
    display: flex;
    flex-direction: row;
    height: 120px;
    background: #ECFADC;
    /* background-color: #216f41; */
    margin: 0px;
    /* border-radius: 10px; */
    justify-content: right;
    align-items: center;
    padding-right: 200px;

    font-size: 24px;
    font-weight: bolder;
    color: #043517;
    font-family: 'Montserrat';
    gap: 51px;
    border-bottom: 1px solid black;
}

.boxNavbar{
    cursor: pointer;
    text-decoration: inherit;
    color: inherit;
    display: flex;
}
.navimg{
    height: 40px;
    width: 40px;
}